*,
*:before,
*:after{
    box-sizing: border-box;
}

body{
    background-color: #eeeeee;
    font-family: 'Inter', sans-serif;
}



.forms-holder{
    display:flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    width: 540px;
    height: 590px;
    background-color: #ffffff;
    border-radius: 6px;
    margin-right: 20px;
    padding:20px;
}

.form--title{
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: #1C1C1C;
    padding-bottom: 20px;
}

/**text fields styles**/
.double-field {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 20px;
}


.field_box{
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    padding-right: 10px;
    height: 38px;
}
.short {
    width: 245px;

}

.long{
    width: 100%;
    height: 38px;
}

input:hover {
    border: 1px solid #007BFF;
}

input:focus {
    outline: none;
    border: 2px solid #007BFF;
}

label{
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
    padding-bottom: 7px;
}

.field-subtitle{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
}

/**radio buttons**/
.radio{
    display: inline-block;
    margin-right: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
}


input[type="radio"]{
    opacity: 0;
}

input[type="radio"]+label:before{
    content: url('../images/radiobutton.svg');
    position: absolute;
    margin-left: -30px;
}

input[type="radio"]:checked+label:before{
    content: url('../images/radiobutton_checked.svg');
}

/**selector**/

.select-country{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    background-color: #ffffff;
    width: 245px;
    height: 38px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
    padding-left: 10px;
}

.select-wrapper{
    position: relative;
}

.select-wrapper:after{
    content: url("../images/select.svg");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:12px;
    pointer-events: none;
}

select:invalid{
    color: #c9c9c9;
}


/**terms of use and login**/
.terms-of-use{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #969696;
    padding: 22px 20px;
    width: 410px;
    margin-right: auto;
    margin-left: auto;
}

.line{
    border-bottom: 1px solid #E4E4E4;
}

a, a:visited{
    color:#007BFF;
}

.login{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #545454;
    padding-top: 22px;
}

.login a{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}


/*Profile Form*/
.userpic_container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}

.img-fields{
    display: flex;
    flex-direction: row;
}

.image{
    padding-right: 20px;
}

.upload{
    position:relative;
    padding-right: 10px;
    width: 138px;
    height: 30px;
}

.uploader{
    opacity: 0;
    padding-left: 30px;
    position: absolute;
    z-index: 2;
}

.upload:after{
    content: url("../images/camera.svg");
    position: absolute;
    right:9px;
    top: 9px;
    transform: translateY(-25%);
}

.delete-btn{
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    height: 30px;
    width: 30px;
    color: #969696;
    cursor: pointer;
}

