*,
*:before,
*:after {
  box-sizing: border-box;
}

body{
  font-family: $roboto;
  margin: 0;
}

.main-container, .header-container, .footer-container{
  max-width: 1155px;
  margin: 0 auto;
}

.logo-holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

