body {
    font-family: "PT Sans";
}


/*Header*/
.header_holder {
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    padding-top: 30px;
    padding-bottom: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang {
    font-weight: 900;
    letter-spacing: 0.04em;
    color: #ffffff;
    -webkit-text-stroke: 1px #000000;
    padding-right: 40px;
}

.documentation {;
    color: #000000;
}

.logo {
    height: 50px;
}

/*Body elements*/
 body {
     margin: 0 24px 0 44px;
 }

.text-block {
    margin-bottom: 100px;
}

sup{
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    padding-right: 10px;
}

.title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

p {
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
}

.text-underline {
    text-decoration: underline;
    font-weight: normal;
}

.first-word {
    font-family: "PT Sans";
    font-weight: 700;
}

code {
    background-color: #eeeeee;
}
