/*General styles*/
*{
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

.body{
    padding:35px 145px;
    font-family: Poppins, sans-serif;
}

/*Header (logo--navigation)*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container{
    display: flex;
    align-items: center;
}

.top-nav{
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 0;
}

.nav--item a {
    text-decoration: none;
    color: #070707;
    font-size: 14px;
    padding-right: 25px;
}

    .nav--item a:hover{
        color: #FF9900;
    }

    .nav--item a:active{
        color: #ff6a00;
    }

    .nav--item a:visited{
        color: #FF9900;
    }


/*Header (buttons)*/
.btn--header{
    width: 102px;
    height: 46px;
}
.btn-container{
    padding-left: 25px;
}
.btn-white{
    margin-right: 14px;
    background-color:#FFFFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
}

    .btn-white:hover {
        border: 1px solid #FF9900;
        color: #FF9900;
    }

    .btn-white:active{
        border: 1px solid #ff6a00;
    }

.btn-orange{
    background: #FF9900;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF
}

    .btn-orange:hover{
        box-shadow: 0 0 5px #FF9900;
        color: #F6F6F6;
    }

    .btn-orange:active{
        background:#ff6a00;
    }


/*Mainscreen*/
.container-main{
    display: flex;
    padding-top: 47px;
    align-items: center;
}

.main-title{
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}

.main-subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.action-buttons{
    padding-top: 45px;
    display: flex;
    align-items: center;
}

.btn--get_started{
    width: 175px;
    height: 53px;
    margin-right: 30px;
}

.btn-link{
    border:none;
    background-color: #ffffff;
    color: #FF9900;
    font-weight: 600;
    font-size: 16px;
    display:flex;
    align-items: center;

}

.fa-play{
    padding-right: 9px;
    font-size: 20px;
}

.btn-link a{
    color: #FF9900;
}

.btn-link a:hover{
    text-shadow: 0 0 5px #ffd5a0;
}

.btn-link a:active{
    color: #ff6a00;
}


