/*General styles*/
*{
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

.body{
    padding:35px 145px;
    font-family: Poppins, sans-serif;
}

/*Header (logo--navigation)*/
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 47px;
}

.nav_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.top_nav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
}

.nav--item a, .footer--nav--item a {
    text-decoration: none;
    color: #2F281E;
    font-size: 14px;
    padding-right: 25px;
}

    .nav--item a:visited, .footer--nav--item a:visited{
        color:#2F281E;
    }

    .nav--item a:hover, .footer--nav--item a:hover{
        color: #FF9900;
    }

    .nav--item a:active, .footer--nav--item a:active{
        color: #ff6a00;
    }



/*Header (buttons)*/
.header--btn{
    width: 102px;
    height: 46px;
}
.btn_container{
    padding-left: 25px;
}
.btn_white{
    cursor: pointer;
    margin-right: 14px;
    background-color:#FFFFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #173A56;
}

    .btn_white:hover {
        border: 1px solid #FF9900;
        color: #FF9900;
    }

    .btn_white:active{
        border: 1px solid #ff6a00;
    }

.btn_orange{
    cursor: pointer;
    background: #FF9900;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF
}

    .btn_orange:hover{
        box-shadow: 0 0 5px #ffc530;
        color: #F6F6F6;
    }

    .btn_orange:active{
        background:#ff6a00;
    }


/*Mainscreen*/
.container_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 111px;
}

.main--text-block{
    max-width: 518px;
}

.main--title{
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin: 0;
    padding-bottom: 30px;
}

.main--subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}

.action_buttons{
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btn_get-started{
    width: 175px;
    height: 53px;
    margin-right: 30px;
}

.btn_link{
    text-decoration: none;
    color: #FF9900;
    font-weight: 600;
    font-size: 16px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.video--btn{
    text-decoration: underline;
}

.fa-play{
    padding-right: 9px;
    font-size: 20px;
}

.btn_link a{
    color: #FF9900;
}

    .btn_link a:hover{
        text-shadow: 0 0 1px #ffc530;
    }

    .btn_link a:active{
        color: #ff6a00;
    }

/*We design tools section*/
.design_tools{
margin-bottom: 210px;
}

.section--title_holder{
    padding-bottom: 54px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section--title{
    color: #2F281E;
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    max-width:539px;
}

.tools-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.tool{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 240px;

}

.tool--title{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    padding-top: 30px;
}

.tool--text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    padding-top: 13px;
}

.tool--btn{
    padding-top: 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sign-up-now{
    width: 175px;
    height: 53px;
}


/*Footer*/
.footer{
    border-top: 1px solid #BCD0E57E;
}

.footer--logo{
    padding-top: 102px;
}

.footer_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-top: 33px;
}

.footer--nav{
    list-style: none;
    padding-right: 81px;
    padding-left: 94px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
}

.sign-up_form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sign-up_field{
    width: 325px;
    height: 48px;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
}

    .sign-up_field:hover{
        outline: none;
        border: none;
        box-shadow: 0 0 1px #ff6a00 ;
    }

    .sign-up_field:focus{
        outline: none;
        border: 1px solid #ff6a00;
    }

.footer--btn{
    width: 131px;
    height: 39px;
}

.footer-button{
    padding-top: 21px;
}




